/* editor css stylesheet */
body {
background-color:#EBEBE4;
}
.row {
max-width: 100%;
}
#inputPane {
height: 300px;
}
#previewPane {
height: 300px;
background-color:white;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
